@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(185, 41%, 84%);
    /* height: 100vh; */
    height: 100vh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

@media only screen and (max-width: 780px) {
    #logo {
        text-align: center;
        /* padding-top: 20px; */
        /* margin-bottom: 10px; */
    }

    .container {
        background-color: hsl(0, 0%, 100%);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 20px 30px 15px;
        /* margin-top: 20px; */
        /* height: 100vh; */
        /* height: 100%; */
    }

    /* .container-x { */
    /* height: 100vh; */
    /* max-height: 100vh; */
    /* } */

    /* ---------FORM----------- */
    .first-form,
    .second-form {
        margin-top: 10px;
    }

    input {
        height: 40px;
        width: 100%;
        border: none;
        font-size: 24px;
        margin-bottom: 20px;
        background-color: hsl(189, 41%, 97%);
        outline: none;
        border-radius: 5px;
        /* padding: 10px; */
        text-align: right;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        color:  hsl(183, 100%, 15%);;
    }

    input:focus {
        border: 2px solid hsl(184, 14%, 56%);
    }


    input::-webkit-input-placeholder {
        /* text-align: right; */
    }

    .dollar-sign {
        margin: 5px 0px 0px 3px;
        font-size: 20px;
    }

    /* ----CONTAINER GRID------ */
    .container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .tip-box {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        height: 40px;
        /* width: 50px; */
        background-color: hsl(183, 100%, 15%);
        border-radius: 5px;
    }

    .tip-box:hover {
        background-color: hsl(172, 67%, 45%);
    }

    .tip-main {
        color: white;
    }


    .tip-no {
        color: hsl(172, 67%, 45%);
    }

    /* ----MAIN--- */
    .main {
        background-color: hsl(183, 100%, 15%);
        border-radius: 10px;
        padding: 30px 20px 20px;
    }

    .main1,
    .main2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    #reset-button {
        width: 100%;
        height: 40px;
        /* margin-bottom: 30px; */
        background-color: hsl(172, 67%, 45%);
        border: none;
        border-radius: 5px;
    }
}